<!DOCTYPE html>
<html>
  <head>
	 <link href="resources/styles/main.css" media="all" rel="stylesheet" type="text/css" />
	 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <script src="resources/scripts/vendor/angular.min.js"></script>
	 <script src="resources/scripts/vendor/angular-route.min.js"></script>
   <script type="text/javascript" src="resources/scripts/vendor/angular-ui-router.min.js"></script>
   <style type="text/css">
   .notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);

.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;

   </style>
    
  
  </head>
  <body ng-app="myApp">
    
    <!-- We'll also add some navigation: -->
    
    <h1 class="bg-primary" style="padding:10px;padding-left:30px;margin:0px" ng-model="title">Attendance</h1>
    <div class="btn-group" role="group" ng-controller="viewCtrl" style="padding:0;margin-top:0px">
        <button class="btn btn-default btn-lg" ng-click="changeRoute('classList')" ng-enabled="menuSwitch()">My Class List <span class="glyphicon glyphicon-book"></span> </button>
        <button class="btn btn-default btn-lg" ng-click="changeRoute('table')" ng-disabled="menuSwitch()">Table <span class="glyphicon glyphicon-th-list"></span> </button>
         <button class="btn btn-default btn-lg" ng-click="changeRoute('bar')" ng-disabled="menuSwitch()">Bar Chart <span class="glyphicon glyphicon-signal"></span></button>
         <button class="btn btn-default btn-lg" ng-click="changeRoute('sync')" ng-disabled="menuSwitch()">Sync <span class="glyphicon glyphicon-refresh"></span></button>
    </div>
    
    <ng-view></ng-view>
	</div>
	<script src="resources/scripts/vendor/d3.min.js"></script>
    <script src="resources/scripts/vendor/line-chart.min.js"></script>
    <script src="resources/scripts/app.js"></script>
    <script src="resources/scripts/controllers.js"></script>
    <script src="resources/scripts/class_controllers.js"></script>
  </body>
</html>