<!DOCTYPE html>
<html>
  <head>
	 <link href="resources/styles/main.css" media="all" rel="stylesheet" type="text/css" />
	 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <script src="resources/scripts/vendor/angular.min.js"></script>
	 <script src="resources/scripts/vendor/angular-route.min.js"></script>
   <script type="text/javascript" src="resources/scripts/vendor/angular-ui-router.min.js"></script>
    
  
  </head>
  <body ng-app="myApp">
    
    <!-- We'll also add some navigation: -->
    
    <h1 class="bg-primary" style="padding:10px;padding-left:30px;margin:0px">Attendance</h1>
    <div class="btn-group" role="group" ng-controller="viewController" style="padding:0;margin-top:0px">
        <button class="btn btn-default" ng-click="changeRoute('classList')">My Class List</button>
        <button class="btn btn-default" ng-click="changeRoute('table')">Table</button>
         <button class="btn btn-default" ng-click="changeRoute('bar')">Bar Chart</button>
    </div>
    
    <ng-view></ng-view>
	</div>
	<script src="resources/scripts/vendor/d3.min.js"></script>
    <script src="resources/scripts/vendor/line-chart.min.js"></script>
    <script src="resources/scripts/app.js"></script>
    <script src="resources/scripts/controllers.js"></script>
  </body>
</html>